@use './../../../node_modules/bootstrap/scss/bootstrap.scss';

@use "./partials/_variables.scss" as *;
@use "./partials/_home.scss";

body {
    background-color: $clr_bruise;
    color: $light;
    font-family: 'Nunito', sans-serif;
}