@use "./_variables.scss" as *;


#about {

    color: $light;
    font-size: 25px;


    .bg_intro {

        border-left: 3px solid $clr_juice_button ;
        padding: 2rem;

        .txt_initial {
            font-size: 50px;
        }

        .txt_fra {
            color: $clr_juice_button;
            font-size: 50px;
        }

        .txt_thin {
            font-size: 20px;
            font-weight: bold;
        }

        .txt_swich {
            color: $clr_juice_button;
            font-size: 40px;
        }

        a {
            color: $clr_juice_button;
            text-decoration: none;
        }

        .introduce p {
            font-size: larger;
        }

        .introduce p a {
            color: $info;
            text-decoration-color: $info;
        }
    }

    .link_efct {
        color: $clr_juice_button;
        text-decoration: none;
        transition: color 2s, box-shadow 2s;
        text-shadow: 0px 0px 30px $clr_juice_button;
    }

    .link_efct:hover {
        text-shadow: 0px 0px 10px $clr_juice_button;
    }

}