@use "./_variables.scss" as *;


#footer {

    color: $light;
    margin-bottom: 5rem;

    .bg_intro{
        background-color:$dark ;
    }

    .txt_thin{
        color: $info;
    }

    .introduce p {
        font-size: larger;
    }

    .introduce p a {
        color: $info;
        text-decoration-color: $info;
    }

    .col_goals_onu {
        margin-top: 5rem;
    }

    .goals img {
        width: auto;
    }

    .zoom-effect-goals {
        transition: transform 0.2s ease-in-out;
        transform-origin: center center;
    }

    .zoom-effect-goals:hover {
        transform: scale(1.75);
        border: 0;
    }

    .txt_neutral_github {
        color: $neutral;
    }

    .col_github {
        margin-bottom: 3rem;
    }

    .txt_github {
        color: $secondary;
        font-size: larger;

    }

    .my_contact {
        width: 20%;
        padding: 0.1rem;
        background-color: $neutral;
        border-radius: 20%;
        box-shadow: 0px 0px 10px $neutral;
        margin-right: 1rem;
    }

    .zoom-effect-contact {
        transition: transform 3s ease-in-out;
        transform-origin: center center;
    }

    .zoom-effect-contact:hover {
        transform: scale(1.1);
        border: 0;
        border-bottom: 3px solid $info;
        border-right: 3px solid $info;
        box-shadow: 0px 0px 20px $info;
    }

}