@use "./_variables.scss" as *;


.txt_about {
    font-size: 100px;
    color: $clr_juice_button;
}

.jumbotron{

    border-top: 2px solid $clr_juice_button;

    .txt_intro_hello {
        font-size: 40px;
    }
}



.txt_intro {
    font-size: 25px;

}