@use "./_variables.scss" as *;

.card {
    border: none;
    border: 2px solid $dark;

    a{
      color: $clr_juice_button;
    }
  /*   box-shadow: 0 4px 40px #44bc84; */
}

.bg_card_header{
    background-color: $clr_juice_button;
}

.bg_card{
  background-color:$clr_bruise;
}

  .card-title {
    font-size: 2rem;
    color: $clr_bruise;
  }
  
  .card-text {
    font-size: 1.5rem;
    color: $light;
  }
  
  .card-footer {
    background-color: $clr_bruise;
    border-top: none;
    text-align: right;
    padding: 0.5rem;
  }
  
  .text-date {
    font-size: 0.8rem;
    color: $light;
  }