$primary: #22ad96;
$bg_body: #1d1d1d;
$dark: #333333;
$neutral: #aaaaaa;
$light: #edf3f5;
$info: #f2b91e;
$info_light: #efd17f;
$shadow_stack: #13e784;
$secondary: #c788f3a3;
$clr_bruise : #010e16;
$card_news_header : #93c5e599;
$card_news_body : #baddf4;
$clr_tulip_tree : #efab43;
$clr_juice_button_2 : #ff6518;
$lime: #69bf14;
$clr_juice_button: #44bc84;